# files and folders for git to ignore

# python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/